export(getSynopSections, getStationID)
export(getObsDateTime, getObsActualTime)
export(getWindData)
export(getPrecipitation)
export(getAirTemperature, getMaximumTemperature, getMinimumTemperature)
export(getStationPressure, getSeaLevelPressure)
export(getDewPointTemperature, getRelativeHumidity)
export(saturation_vapour_pressure, relative_humidity)
export(specific_humidity, dewpoint_temperature)
export(parse_GTS_Bulletin, get_Some_Variables)
